@import "_base.scss";

/*================================================== 
HEADER
==================================================*/
.header {
  .title {

  }
  ul.menu {
    li {
      list-style: none;
      display: inline-block;
    }
    li.selected {
      background: $base-color;
      a { 
        color: #fff; 
      }
    }
  }
  .mobile-menu {
    .handle {
      cursor: pointer;
    }
    .body {
      display: none;
      ul {
        li {
          list-style: none;
          a {
            display: inline-block;
            width: 100%;
          }
        }
        li.selected {
          a {
            background: $base-color;
            color: #fff;
          }
        }
      }
    }
  }
  .mobile {
    display: none;
  }
  @media only screen and (max-width: 900px) { // adjust as needed
    padding: 0 !important;
    .mobile {
      display: block;
    }
    .desktop {
      display: none;
    }
  }
}

/*================================================== 
FRONT PAGE
==================================================*/
.front-page {

}

/*================================================== 
CONTENT
==================================================*/
.content {

}

/*================================================== 
FOOTER
==================================================*/
.footer {
  ul.quick-links {
    li {
      list-style: none;
    }
  }
  ul.social-media {
    li {
      list-style: none;
      display: inline-block;
    }
  }
}

/*================================================== 
OTHER
==================================================*/
.page-not-found {
  padding: 100px;
  text-align: center;
}