/*
  Name: Tars CSS
  Author: Ian Benedict Famero
  Version: 2.0
*/

@import "_base.scss";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: $gray-color;
}

/*================================================== 
GRID
==================================================*/
.tars-wrapper {
  position: relative;
  height: auto;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  overflow: auto;
}
.tars-row {
  height: auto;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.tars-card {
  background: #fff;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}

/* 575px - min width
====================== */
.sp-col-1 { width: 8.33%;   }
.sp-col-2 { width: 16.66%;  }
.sp-col-3 { width: 25%;     }
.sp-col-4 { width: 33.33%;  }
.sp-col-5 { width: 41.66%;  }
.sp-col-6 { width: 50%;     }
.sp-col-7 { width: 58.33%;  }
.sp-col-8 { width: 66.66%;  }
.sp-col-9 { width: 75%;     }
.sp-col-10 { width: 83.33%; }
.sp-col-11 { width: 91.66%; }
.sp-col-12 { width: 100%;   }


/* 575px - 768px
====================== */
@media only screen and (min-width: 575px) {
  .tb-col-1 { width: 8.33%;   }
  .tb-col-2 { width: 16.66%;  }
  .tb-col-3 { width: 25%;     }
  .tb-col-4 { width: 33.33%;  }
  .tb-col-5 { width: 41.66%;  }
  .tb-col-6 { width: 50%;     }
  .tb-col-7 { width: 58.33%;  }
  .tb-col-8 { width: 66.66%;  }
  .tb-col-9 { width: 75%;     }
  .tb-col-10 { width: 83.33%; }
  .tb-col-11 { width: 91.66%; }
  .tb-col-12 { width: 100%;   }
}

/* 769px - max width
====================== */
@media only screen and (min-width: 769px) {
  .dt-col-1 { width: 8.33%;   }
  .dt-col-2 { width: 16.66%;  }
  .dt-col-3 { width: 25%;     }
  .dt-col-4 { width: 33.33%;  }
  .dt-col-5 { width: 41.66%;  }
  .dt-col-6 { width: 50%;     }
  .dt-col-7 { width: 58.33%;  }
  .dt-col-8 { width: 66.66%;  }
  .dt-col-9 { width: 75%;     }
  .dt-col-10 { width: 83.33%; }
  .dt-col-11 { width: 91.66%; }
  .dt-col-12 { width: 100%;   }
}
.sp-col-1, .sp-col-2, .sp-col-3, .sp-col-4, .sp-col-5, .sp-col-6, 
.sp-col-7, .sp-col-8, .sp-col-9, .sp-col-10, .sp-col-11, .sp-col-12,
.tb-col-1, .tb-col-2, .tb-col-3, .tb-col-4, .tb-col-5, .tb-col-6, 
.tb-col-7, .tb-col-8, .tb-col-9, .tb-col-10, .tb-col-11, .tb-col-12,
.dt-col-1, .dt-col-2, .dt-col-3, .dt-col-4, .dt-col-5, .dt-col-6, 
.dt-col-7, .dt-col-8, .dt-col-9, .dt-col-10, .dt-col-11, .dt-col-12 {
  float: left;
  height: auto;
  min-height: 10px;
}

@media only screen and (max-width: 575px) {
  .sp-hide { display: none; } // hide when screen is between 480px and min width
  .sides-padding { padding: 0 $sp-lr-padding; } // set row padding when screen is between 480px and min width
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .tb-hide { display: none; } // hide when screen is between 481px and 768px
  .sides-padding { padding: 0 $tb-lr-padding; } // set row padding when screen is between 480px and min width
}
@media only screen and (min-width: 769px) and (max-width: $max-width) {
  .dt-hide { display: none; } // hide when screen is between 769px and max width
  .sides-padding { padding: 0 $dt-lr-padding; } // set row padding when screen is between 480px and min width
}

img { height: auto; max-width: 100%; } // makes all image responsive by default

/*================================================== 
TYPOGRAPHY
==================================================*/
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  color: $base-color;
  font-weight: 400;
}
h1 { font-size: 2em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.35em; }
h4 { font-size: 1.1em; }
h5 { font-size: 0.9em; }
h6 { font-size: 0.7em; }

/*================================================== 
LINKS
==================================================*/
a:link, 
a:visited, 
a:active {
  color: $base-color;
  text-decoration: none;
  transition: $transition;
}
a:hover,
a:focus {
  color: $base-color-lighter;
}

/*================================================== 
LIST
==================================================*/
ul,
ol {
  padding-left: 0;
  list-style-position: inside;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-left: 30px;
}

/*================================================== 
TABLE
==================================================*/
table {
  border-collapse: collapse;
  width: 100%;
  overflow-x: hidden;
}
tr:hover { 
  background: lighten($base-color, 45%); 
}
th, td {
  border: 1px solid lighten($base-color, 45%);
  padding: 8px;
}
th {
  background: lighten($base-color, 45%);;
  text-align: left; 
  color: $base-color;
}

/*================================================== 
FORM
==================================================*/
.btn,
button, 
input[type="submit"],
input[type="button"],
input[type="reset"] {
  display: inline-block;
  background: $base-color;
  color: #fff;
  line-height: normal;
  margin: 8px 1px;
  padding: 8px 16px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  transition: $transition;
}
  .btn:hover,
  button:hover, 
  input[type="submit"]:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover  {
    background: $base-color-lighter;
  }
  .btn:disabled,
  button:disabled {
    background: #ccc !important;
  }

.btn.btn-hollow,
button.btn-hollow,
input[type="submit"].btn-hollow,
input[type="button"].btn-hollow,
input[type="reset"].btn-hollow {
  border: 2px solid $base-color !important;
  background: #fff !important;
  border-radius: 0px !important;
} 
  .btn.btn-hollow:hover,
  button.btn-hollow:hover,
  input[type="submit"].btn-hollow:hover,
  input[type="button"].btn-hollow:hover,
  input[type="reset"].btn-hollow:hover {
    border: 2px solid $base-color-lighter !important;
  }

.btn.btn-warning,
button.btn-warning,
input[type="submit"].btn-warning,
input[type="button"].btn-warning,
input[type="reset"].btn-warning {
  background: $warning-color;
} 
  .btn.btn-warning:hover,
  button.btn-warning:hover,
  input[type="submit"].btn-warning:hover,
  input[type="button"].btn-warning:hover,
  input[type="reset"].btn-warning:hover {
    background: $warning-color-lighter;
  }

.btn.btn-danger,
button.btn-danger,
input[type="submit"].btn-danger,
input[type="button"].btn-danger,
input[type="reset"].btn-danger {
  background: $danger-color;
} 
  .btn.btn-danger:hover,
  button.btn-danger:hover,
  input[type="submit"].btn-danger:hover,
  input[type="button"].btn-danger:hover,
  input[type="reset"].btn-danger:hover {
    background: $danger-color-lighter;
  }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
select,
textarea {
  width: $form-input-width;
  max-width: 100%;
  margin: 8px 1px;
  padding: 7px 15px;
  border-radius: 3px;
  border: 1px solid lighten($gray-color, 45%);
}
  input[type="text"]:disabled,
  input[type="email"]:disabled,
  input[type="search"]:disabled,
  input[type="password"]:disabled,
  select:disabled,
  textarea:disabled {
    background: #ccc;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="search"]:focus,
  input[type="password"]:focus,
  select:focus,
  textarea:focus { 
    border: 1px solid $base-color; 
  }

/*================================================== 
OTHER
==================================================*/
hr { border: 0; border-bottom: solid 1px #dcdcdc; }
::selection { background: $base-color; color: #ffffff; }
.centered { text-align: center; }
.left-aligned { text-align: left; }
.right-aligned { text-align: right; }
.overflow-hidden { overflow: hidden; }
.remove-border-and-shadow { box-shadow: none !important; border: none !important; }

.no-padding { padding: 0px; }
.padding-5 { padding: 5px; }
.padding-10 { padding: 10px; }
.padding-15 { padding: 15px; }
.padding-30 { padding: 30px; }
.padding-left-5 { padding-left: 5px; }
.padding-left-10 { padding-left: 10px; }
.padding-left-15 { padding-left: 15px; }
.padding-left-30 { padding-left: 30px; }
.padding-right-5 { padding-right: 5px; }
.padding-right-10 { padding-right: 10px; }
.padding-right-15 { padding-right: 15px; }
.padding-right-30 { padding-right: 30px; }
.padding-top-5 { padding-top: 5px; }
.padding-top-10 { padding-top: 10px; }
.padding-top-15 { padding-top: 15px; }
.padding-top-30 { padding-top: 30px; }
.padding-bottom-5 { padding-bottom: 5px; }
.padding-bottom-10 { padding-bottom: 10px; }
.padding-bottom-15 { padding-bottom: 15px; }
.padding-bottom-30 { padding-bottom: 30px; }

.no-margin { margin: 0px; }
.margin-5 { padding: 5px; }
.margin-10 { padding: 10px; }
.margin-15 { padding: 15px; }
.margin-30 { padding: 30px; }
.margin-left-5 { margin-left: 5px; }
.margin-left-10 { margin-left: 10px; }
.margin-left-15 { margin-left: 15px; }
.margin-left-30 { margin-left: 30px; }
.margin-right-5 { margin-right: 5px; }
.margin-right-10 { margin-right: 10px; }
.margin-right-15 { margin-right: 15px; }
.margin-right-30 { margin-right: 30px; }
.margin-top-5 { margin-top: 5px; }
.margin-top-10 { margin-top: 10px; }
.margin-top-15 { margin-top: 15px; }
.margin-top-30 { margin-top: 30px; }
.margin-bottom-5 { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom-30 { margin-bottom: 30px; }